#conteneur {
    width: 100%;
}

#conteneur #element1 {
    float: right;
    width: 80%;
    background-color: rgba(157, 215, 157, 0.659);
    margin-right: 115px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#conteneur #image {
    float: left;
    width: 10%;
    margin-left: 11px;
}

#conteneur #image img {
    border-radius: 20px;
}

#conteneur #element2 {
    float: left;
    width: 24.5%;
    height: 200px;
    background-color: rgb(198, 169, 228);
    margin-left: 150px;
    border-radius: 20px;
    padding: 5px;
}


#conteneur #element3 {
    float: left;
    width: 24.5%;
    height: 200px;
    background-color: rgb(198, 169, 228);
    margin-left: 10px;
    border-radius: 20px;
    padding: 5px;
}

#conteneur #element4 {
    float: left;
    width: 24.5%;
    height: 200px;
    background-color: rgb(198, 169, 228);
    margin-left: 10px;
    border-radius: 20px;
    padding: 5px;
}

h1 {
    font-size: 30px;
    font-family: "Comic Sans MS";
    text-decoration: blink;
    text-align: center;
    color: black;
    border: 3px #4598bf solid;
    border-radius: 20px;
    box-shadow: 6px 6px 6px gray;
    text-shadow: 6px 6px 6px rgb(173, 169, 169);
}

h2 {
    font-size: 20px;
    font-family: "Comic Sans MS";
    color: #b684b5;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    text-shadow: 6px 6px 6px rgb(173, 169, 169);
}

h3 {
    font-size: 15px;
    font-family: Arial;
    color: green;
    text-decoration: underline;
    border-radius: 10px;
    font-weight: bold;
}